services:
  gravindo-web-dev:
    build:
      context: .
    container_name: gravindo-web-dev
    working_dir: /app
    restart: always
    volumes:
      - .:/app
      - /app/node_modules 
    ports:
      - "5173:5173" # Vite dev server
      - "24678:24678" # Vite HMR WebSocket (penting untuk hot reload!)
    command: sh -c "npm install && npm run dev -- --host 0.0.0.0"
    networks:
      - cloudflare_networks

networks:
  cloudflare_networks:
    external: true
